body{
	font-family: Helvetica;
	color:#ccc;
}
h1{
	color: black;
	font-weight: bold;
	

}
div.navbar-brand a h1:hover {
	text-decoration: none !important;
}
#header-nav{
	background-color: #A9A9A9;
	
	border-radius: 0;
	border: 0;
	font-family: Helvetica;
}
div.col-xs-12{
	height: 1000px;
	background-color: #A9A9A9;
	color: black;
	text-align: justify;
	overflow: auto;
}
.col-xs-12 h1{
	text-align: center;

}
h1.text-center{
	margin-bottom: 50px;
}
#nav-list li a{
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	background-color: green;
	color: white;

}
#nav-list li a:hover{
	background-color: black;
}
.divider{
	height: 1px;
	margin: 0 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
